body{
    background-color:white;
}

header{
    display:none;
}

h2{
    text-align:center;
}

footer p{
    text-align:center;
}

.bilde{
    display:block;
    margin: 0 auto;
    max-width:50%;
}

article p {
    padding-top: 15px;
    max-width:80%;
    margin: 0 auto;
}
h3{
    text-align:center;
}

article a{
    display:flex;
    flex-direction: column;
    text-decoration:none;
    text-align:center;
}